.footer{
    background: linear-gradient(gray,rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative;
    bottom: 0;
    top: 100%;
    width: 100%;
    height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footerlogos{
    width: 25px;
    height: auto;
}
.logosfooter{
    display: flex;
     flex-direction: row;
    gap: 12px;
   
}

