.Container {
    margin: auto;
    margin-top: 40px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    position: fixed; /* Fix the modal position relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the modal exactly */
    background-color: rgb(255, 255, 255); /* Background color of the modal */
    border-radius: 41px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    z-index: 1000; /* Ensure it appears above other content */
    display: none; /* Initially hidden */
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out; /* Add transition */
}

.Container.visible {
    display: block; /* Make it visible */
    opacity: 1; /* Fully visible */
    transform: translate(-50%, -50%) scale(1); /* No scale change */
}
  .Signin{
    display: flex;
    height: 80vh;
    max-width: 60vw;
    border: solid black;
    border-radius: 41px;
    margin: auto;
    
  }
  form{
    display: flex;
    width: 45em;
    flex-direction: column;
    padding: 17px;
    overflow: auto;
    scrollbar-width: none;
  }
  form input{
    margin-bottom: 14px;
  }
  
  input[type="Submit"]{
    padding: 7px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    background: linear-gradient(rgb(255, 115, 0),Orange);
    font-size: 1.0em;
    font-weight: 600;
    cursor: pointer;
  }
  label{
    font-size: 1.2em;
    font-weight: 600;
  }
  input{
    padding: 3px;
    border-radius: 4px;
  }
  .sidedesc{
    border-radius: 0 40px  40px 0;
    background: linear-gradient(rgb(255, 115, 0),Orange);
  padding: 12px;
  overflow: auto;
   scrollbar-width: none;
   }
  h1{
    text-align: center;
  }
  p{
    max-width: 70em;
  }
  h2{
    text-align: center;
  }

  span{
    color: red;
  }
  .linklogin:hover{
    cursor: pointer;
    color: orange;
  }
  .linklogin{
    color: rgb(255, 115, 0);
  }
  