.food{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 20px; 
}
/* App.css */

.blur {
  filter: blur(5px); /* Apply a blur effect */
  pointer-events: none; /* Disable pointer events on blurred content */
}

/* Style for no blur effect */
.no-blur {
  filter: none; /* Remove any filters */
}
.main-content{
  /* background: linear-gradient(rgb(255, 123, 0),rgb(255, 166, 0),rgb(255, 102, 0)); */
/* background-color: rgb(46, 46, 46); */
background-image: url("https://ideogram.ai/g/BsAUadlmSx2swV1q0fFjcA/0");
}
h2{
  color: white;
}
